{% include 'top.html' %}
        <script src="{{ url_for('static', filename='scripts/fzsearch.js') }}"></script>
        {% if movies | length > 0 %}
            <!-- All Movies-->
            <table class="styled">
                <thead>
                    <tr>
                        <td>Movie ID</td>
                        <td>Movie Name</td>
                        <td>Release Year</td>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in movies %}
                        <!-- Each row is a link to each individual movie page -->
                        <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id=instance.movie_id)}}">
                            <td style="text-align: center">{{ instance.movie_id }}</td>
                            <td>{{instance.movie_title}}</td>
                            <td>{{instance.release_year}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
    
            </table>
        {% endif %}
</div>
{% include 'bottom.html'%}
