{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Update User Information</h1>

        <form class="setPassword" method="POST" action="{{url_for('updateUserInfo')}}">
            <input type="text" name="newPassword" placeholder="New Password" autofocus required>
            <button class="flat" type="submit">Set</button>
        </form>

        <form class="setEmail" method="POST" action="{{url_for('updateUserInfo')}}">
            <input type="text" name="newEmail" placeholder="Email" autofocus required>
            <button class="flat" type="submit">Set</button>
        </form>

        <form class="setPhone" method="POST" action="{{url_for('updateUserInfo')}}">
            <input type="text" name="newPhone" placeholder="Phone Number" autofocus required>
            <button class="flat" type="submit">Set</button>
        </form>

        <form class="setSocial" method="POST" action="{{url_for('updateUserInfo')}}">
            <input type="text" name="newSocial" placeholder="Social" autofocus required>
            <button class="flat" type="submit">Set</button>
        </form>

    </div>
{% include 'bottom.html'%}

