{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- TODO Query 7
        Display All Relevant Podcast Infromation including meta data
        Display All Relevant Podcast Episodes for this Podcast
        -->

        {% if podcast | length > 0 %}
            <h2 class="title">[{{podcast[0].podcast_id}}] {{podcast[0].podcast_title}}</h2>
            <h3> Artworks </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" width="300" height="300">
                {% endif %}
            {% endfor %}

            {% for instance in podcast %}
                {% if instance.md_type_name == 'copyright holder' %}
                    <div>
                        © {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}

            <h3>Description</h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}

            <h3>Podcast URI</h3>
                <div>
                    <a href="{{podcast[0].podcast_uri}}">{{podcast[0].podcast_uri}}</a>
                </div>

            <h3>Last Updated</h3>
                <div>
                    {{podcast[0].podcast_last_updated}}
                </div>

            <!-- Podcast Episodes -->
            <h3>Episodes for this Podcast</h3>
            <table class="styled">
                <thead>
                    <tr>
                        <td>Podcast Episode Media ID</td>
                        <td>Podcast Episode Title</td>
                        <td>Podcast Episode URI</td>
                        <td>Podcast Episode Published Date</td>
                        <td>Podcast Episode Length</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add a for loop to iterate over the episodes -->
                    {% for instance in podcast_eps %}
                        <!-- <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.song_id)}}">

                        </tr> -->
                        <tr class="clickable-tr" data-href="{{ url_for('single_podcastep', media_id=instance.media_id)}}">
                            <td style="text-align: center">{{ instance.media_id }}</td>
                            <td>{{instance.podcast_episode_title}}</td>
                            <td>{{instance.podcast_episode_uri}}</td>
                            <td>{{instance.podcast_episode_published_date}}</td>
                            <td>{{instance.podcast_episode_length}}</td>
                        </tr>

                    {% endfor %}
                </tbody>

            </table>
            </div>
        {% else %}
            <h2 class="title"> Invalid Podcast ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
